
.img-pv {
  user-select: none;
  cursor: pointer;
  &__mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.8;
    z-index: 2000;
    overflow: hidden;
  }

  &__img {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2001;
  }
  &__close-btn {
    width: 40px;
    height: 40px;
    background-color: #757678;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    position: fixed;
    .iconfont {
      font-size: 18px;
    }
    z-index: 2001;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40px;
    top: 40px;
  }

  &__checked-btn{
    width: 40px;
    height: 40px;
    background-color: #757678;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    position: fixed;
    .iconfont {
      font-size: 18px;
    }
    z-index: 2001;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checked-btn--disabled {
    background-color: #848487;
    color: #8f8f92;
  }

  &__checked-btn--next {
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  &__checked-btn--prev {
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  &__bottom{
    position: fixed;
    display: inline-block;
    height: 40px;
    background-color: #757678;
    border-radius: 20px;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 2001;
    .iconfont {
      font-size: 16px;
      color: #fff;
      margin-right: 32px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .icon-rotate-right {
      transform: rotateY(180deg);
    }
  }
}